{
    "presets": ["@babel/env", "@babel/react"],
    "plugins": ["@babel/plugin-proposal-class-properties"],

    "env": {
        "test": {
          "plugins": ["transform-es2015-modules-commonjs"]
        }
      }
}

// {
//     "presets": [["env", {"modules": false}]],
  
//     "env": {
//       "test": {
//         "plugins": ["transform-es2015-modules-commonjs"]
//       }
//     }
//   }