.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-bottom: 10px;
    background-color: #333;
    position: relative;
    background-image: url('../../3.png');
    animation: bgslide 60s linear infinite;

    .logo {
        position: absolute;
        top: 20px;
        left: 50px;
        }

    .add-movie {
        position: absolute;
        top: 20px;
        right: 50px;
        color: rgb(237, 80, 96);
        background-color: rgba(255, 255, 255, 0.1);

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}

@keyframes bgslide {
    0% {background-position: 0 0;}
    100% {background-position: -1200px -400px}
}