.search {
    position: relative;
    width: calc(100% - 100px);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;

    &__title {
        width: 100%;
        color: #FFF;
        font-family: 'MontserratLight';
        font-size: 2rem;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__input {
        width: calc(100% - 10px);
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        border: 0;
        border-radius: 3px;
        padding: 10px 40px 10px 10px;
        margin-right: 10px;
        color: #fff;
        font-size: 1.2rem;
        font-family: 'MontserratLight';
        box-sizing: border-box;

        &-container {
            position: relative;
            flex-grow: 1;
        }
    }

    &__clear {
        position: absolute;
        top: 15px;
        right: 20px;
        color: #FFF;
        width: 20px;
        height: 20px;
        cursor: pointer;

        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 10px;
            width: 1px;
            height: 20px;
            background-color: #FFF;
        }

        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
}