.movie-preview {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 400px;
    margin: 80px 50px 50px;

    &__poster {
        height: auto;
        width: 270px;
        object-fit: cover;
        margin-right: 50px;
        background-image: url('../../assets/no-image.png');
        background-size: cover;
    }

    &__info {
        flex-grow: 1;
        width: 300px;
        color: #FFF;
        padding: 30px 50px 0 0;

        & > * {
            margin-bottom: 20px;
        }
    }

    &__year-time {
        color: rgb(237, 80, 96);
        font-size: 1.5rem;
    }

    &__rating {
        display: inline-block;
        min-width: 30px;
        height: 30px;
        padding: 10px;
        margin-left: 10px;
        text-align: center;
        font-size: 1.6rem;
        border: 1px solid #FFF;
        border-radius: 50%;
        color: rgb(128, 184, 89);
    }
}