* {
    padding: 0;
    margin: 0;
}
:focus {
    outline: 0;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'MontserratLight';
    src: url('fonts/Montserrat-Light.ttf');
}
@font-face {
    font-family: 'MontserratBlack';
    src: url('fonts/Montserrat-Black.ttf');
}

body {
    background-color: #545454;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.bold {
    font-family: 'MontserratBlack', sans-serif;
}

.utils {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid rgb(66, 66, 66);
    box-shadow: 0 2px 0 #000;

    &__filter {
        display: flex;
        list-style: none;

        &-item {
            color: #FFF;
            padding: 20px 0;
            margin: 0 20px -2px;
            text-transform: uppercase;
            transition: 0.3s;
            border-bottom: 2px solid transparent;
            cursor: pointer;

            &:first-of-type {
                margin-left: 0;
            }

            &.selected,
            &:hover {
                border-bottom: 2px solid rgb(237, 80, 96);
            }
        }
    }
}

.counter {
    color: #FFF;
    margin: 20px 0;
}

.error {
    font-size: 1rem;
    padding: 20px;
    color: #fff;
    text-align: center;
}